@using System.Security.Claims
@if (this.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="@this.Url.Action("NotificationsPage", "Home")">Notifications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="@this.Url.Action("SaveRecipe", "Recipe")">Save Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="@this.Url.Action("Login", "User")">@this.User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" @this.Url.Action("Logout", "User")>Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="@this.Url.Action("Register", "User")">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="@this.Url.Action("Login", "User")">Login</a> 
    </li>   
}