@{
    Layout = "_Layout";
}

@using System.Xml.Linq
@model FoodRecipe.Models.AccountViewModel

<div class="container w-75">
    @using (Html.BeginForm("Login", "User"))
    {
        <div class="form-group row">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.Summary)
            @Html.EditorFor(x => x.Summary)
            @Html.TextBoxFor(x => x.Summary)
            @Html.ValidationMessageFor(x => x.Summary)
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.DateOfBirth)
            @Html.EditorFor(x => x.DateOfBirth)
            @Html.ValidationMessageFor(x => x.DateOfBirth)
        </div>
        <p>
            <input id = "Submit" type = "submit" value = "submit" />
        </p>
    }
</div>