@model FoodRecipe.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="auth-form px-3" id="login">
    <div class="auth-form-header p-0">
        <h1>Sign in</h1>
    </div>
    <div class="auth-form-body mt-3">
        @using (Html.BeginForm("Login", "User"))
        {
            <div class="form-group row">
                @Html.LabelFor(x => x.Username)
                @Html.EditorFor(x => x.Username)
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.Password)
                @Html.EditorFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <p>
                <input id = "Submit" type = "submit" value = "submit" />
                @* <a class="btn btn-primary" href="@(this.Url.Action("Login", "User"))">Login</a> *@
            </p>
            <div class="login-callout mt-3">
                New to Food Recipe?
                <a href="@(this.Url.Action("Register", "User"))">Create an account</a>
            </div>
            <div class="login-callout mt-3">
                Forgot Your Password?
                <a href="@(this.Url.Action("VerificationPage", "User"))">Click Here</a>
            </div>
            <div class="login-callout mt-3">
                Need to verify your account?
                <a href="@(this.Url.Action("VerificationPage", "User"))">Click Here</a>
            </div>
        }
    </div>
</div>