@model FoodRecipe.Models.RegisterViewModel

<div class="auth-form px-3" id="Register">
    <div class="auth-form-header p-0">
        <h1>Register</h1>
    </div>
    <div class="auth-form-body mt-3">
        @using (Html.BeginForm("Register", "User"))
        {
            <div class="form-group row">
                @Html.LabelFor(x => x.Username)
                @Html.EditorFor(x => x.Username)
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.Email)
                @Html.EditorFor(x => x.Email)
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.Password)
                @Html.EditorFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.PasswordConfirm)
                @Html.EditorFor(x => x.PasswordConfirm)
                @Html.ValidationMessageFor(x => x.PasswordConfirm)
            </div>
            <p>
                <input id = "Submit" type = "submit" value = "submit" class="btn btn-primary" />
            </p>
        }
    </div>
</div>