@model ResetPasswordViewModel

<main>
    <div class="auth-form-header">
        <h1>Reset Your Password</h1>
    </div>
    <div class="auth-form px-3" id="verification">
        <div class="auth-form-body mt-3">
            @using (Html.BeginForm("ResetPassword", "User"))
            {
                <div class="form-group row">
                    @Html.LabelFor(x => x.NewPassword)
                    @Html.EditorFor(x => x.NewPassword)
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>
                <div class="form-group row">
                    @Html.LabelFor(x => x.NewPasswordConfirm)
                    @Html.EditorFor(x => x.NewPasswordConfirm)
                    @Html.ValidationMessageFor(x => x.NewPasswordConfirm)
                </div>
                <p>
                    <input id = "Submit" type = "submit" value = "submit" class="btn btn-primary" />
                </p>
            }
        </div>
    </div>
</main>