@model WebApp.Models.VerificationViewModel
@{
    ViewData["Title"] = "verificationPage";
}

<main>
    <div class="auth-form-header">
        <h1>Enter Your Email</h1>
    </div>
    <div class="auth-form px-3" id="verification">
        <div class="auth-form-body mt-3">
            @using (Html.BeginForm())
            {
                <div class="form-group row">
                    @Html.LabelFor(x => x.Email)
                    @Html.EditorFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                @Html.ValidationSummary()
                <p>
                    <a class="btn btn-primary" href="@(this.Url.Action("VerificationOtp", "User"))">Submit</a>
                </p>
            }
        </div>
    </div>
</main>
