@model FoodRecipe.Models.RecipeViewModel
@{
    Layout = "_Layout";
}
@using (Html.BeginForm("CreateRecipe", "Recipe"))
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Title)
        @Html.EditorFor(x => x.Title)
        @Html.ValidationMessageFor(x => x.Title)
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Category)
        @Html.EditorFor(x => x.Category)
        @Html.ValidationMessageFor(x => x.Category)
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.Content)
        @Html.EditorFor(x => x.Content)
        @Html.ValidationMessageFor(x => x.Content)
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.DietaryRestriction)
        @Html.EditorFor(x => x.DietaryRestriction)
        @Html.ValidationMessageFor(x => x.DietaryRestriction)
    </div>
    <p>
        <input id = "Submit" type = "submit" value = "Create Recipe" class="btn btn-primary"/>
    </p>
}
