@model WebApp.Models.ReviewViewModel
@{
    Layout = "_Layout";
}
@using (Html.BeginForm())
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Review)
        @Html.EditorFor(x => x.Review)
        @Html.ValueFor(x => x.Review)
        @Html.ValidationMessageFor(x => x.Review)
    </div>
    @Html.ValidationSummary()
    <p>
        <a class="btn btn-primary" href="@(this.Url.Action("ReviewRecipe", "Recipe"))">Review</a>
    </p>
}

<div class="container w-75">
    <form action="{{ url_for('post_review_edit') }}" method="post" class="post-review-edit">
        <textarea name="review" class="form-control" id="textareaInput" rows="5" cols="40">{{ review.review|safe }}</textarea>
        <button type="submit" class="btn btn-dark mb-3">Update</button>
        <input type="hidden" name="recipe_id" value={{ review.recipe_id }}>
    </form>
</div>