@model FoodRecipe.Models.ReviewViewModel
@{
    Layout = "_Layout";
}
@using (Html.BeginForm())
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Review)
        @Html.EditorFor(x => x.Review)
        @Html.ValidationMessageFor(x => x.Review)
    </div>
    @Html.ValidationSummary()
    <p>
        <a class="btn btn-primary" href="@(this.Url.Action("ReviewRecipe", "Recipe"))">Review</a>
    </p>
}