@{
    Layout = "_Layout";
}
<p>
    <a class="btn btn-primary" href="@(this.Url.Action("EditRecipe", "Recipe"))">Save</a>
</p>
@using (Html.BeginForm())
{
    @foreach (RecipeViewModel recipeViewModel in Model.RecipeViewModel)
    {
        <div class="form-group row">
            @recipeViewModel.Title
        </div>
        <div class="form-group row">
            @recipeViewModel.Category
        </div>
        <div class="form-group row">
            @recipeViewModel.Content
        </div>
        <div class="form-group row">
            @recipeViewModel.DietaryRestriction
        </div>   
        <p>
            <a class="btn btn-primary" href="@(this.Url.Action("SaveRecipe", "Recipe", new {recipeId = recipeViewModel.Id}))">Save</a>
        </p>
        <p>
            <a class="btn btn-primary" href="@(this.Url.Action("LikeRecipe", "Recipe", new {recipeId = recipeViewModel.Id}))">Like Recipe</a>
        </p>
        <p>
            <a class="btn btn-primary" href="@(this.Url.Action("LikeRecipe", "Recipe", new {recipeId = recipeViewModel.Id}))">Unlike Recipe</a>
        </p>
        <p>
            <a class="btn btn-primary" href="@(this.Url.Action("ReviewRecipe", "Recipe", new {recipeId = recipeViewModel.Id}))">Review Recipe</a>
        </p>
    }
    @foreach (ReviewViewModel reviewViewModel in Model.ReviewViewModel)
    {
        <div class="form-group row">
            @reviewViewModel.Review
            <p>
                <a class="btn btn-primary" href="@(this.Url.Action("EditReviewRecipe", "Recipe"))">Edit Review Recipe</a>
            </p>
        </div>
    }
}

